{% load static %} 

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mes Projets Personnels</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <section id="mes-projets">
        <h1>Mes Projets Personnels</h1>
        <div class="project-grid">
            <!-- Projet 1 -->
            <div class="project-card">
                <img src="{% static 'Images/detection_fraude.jpeg' %}" alt="Détection de Fraude Bancaire">
                <h2>Détection de Fraude Bancaire</h2>
                <p>Un modèle de classification pour identifier les transactions frauduleuses avec XGBoost.</p>
                <a href="{% url 'project_fraud_detection' %}" class="btn">Voir le projet</a>
            </div>
            

            <!-- Projet 2 -->
            <div class="project-card">
                <a href="{% url 'project_turbulence' %}">
                    <h2>Turbulence</h2>
                </a>
                <img src="{% static 'Images/nif.png' %}" alt="Visualisation sur la turbulence">
                <p>Analyse et prédiction des phénomènes de turbulence grâce à des modèles mathématiques avancés.</p>
            </div>

            <!-- Projet 3 -->
            <div class="project-card">
                <a href="{% url 'project_ghana' %}">
                    <h2>Analyse des Ménages au Ghana</h2>
                </a>
                <img src="{% static 'Images/ghana2.jpeg' %}" alt="Visualisation sur les ménages au Ghana">
                <p>Exploration des données des ménages au Ghana pour identifier des tendances socio-économiques.</p>
            </div>

            <!-- Projet 4 -->
            <div class="project-card">
                <a href="{% url 'project_ab_testing' %}">
                    <h2>A/B Testing</h2>
                </a>
                <img src="{% static 'Images/AB_Testing.png' %}" alt="Visualisation pour l'A/B Testing">
                <p>Évaluation de stratégies marketing par des tests comparatifs pour optimiser les conversions.</p>
            </div>

            <!-- Projet 5 -->
            <div class="project-card">
                <a href="{% url 'project_regression' %}">
                    <h2>Régression</h2>
                </a>
                <img src="{% static 'Images/classific.gif' %}" alt="Visualisation pour la régression">
                <p>Création de modèles de régression linéaire pour prédire des variables continues avec précision.</p>
            </div>

            <!-- Projet 6 -->
            <div class="project-card">
                <a href="{% url 'project_time_series' %}">
                    <h2>Analyse des Séries Temporelles</h2>
                </a>
                <img src="{% static 'Images/series_temp.png' %}" alt="Visualisation pour les séries temporelles">
                <p>Analyse des tendances temporelles pour des prévisions robustes dans divers domaines.</p>
            </div>

            <!-- Projet 7 -->
            <div class="project-card">
                <a href="{% url 'project_deep_learning' %}">
                    <h2>Deep Learning - Classification</h2>
                </a>
                <img src="{% static 'Images/Classification.gif' %}" alt="Visualisation pour le Deep Learning">
                <p>Classification avancée d'images avec des réseaux de neurones profonds utilisant TensorFlow.</p>
            </div>

            <!-- Projet 8 -->
            <div class="project-card">
                <a href="{% url 'project_generative_ai' %}">
                    <h2>IA Générative</h2>
                </a>
                <img src="{% static 'Images/ia_gen.jpeg' %}" alt="Visualisation pour l'IA Générative">
                <p>Création d'images et de textes avec des algorithmes d'Intelligence Artificielle générative.</p>
            </div>

            <!-- Projet 9 -->
            <div class="project-card">
                <a href="{% url 'project_gpt_llama' %}">
                    <h2>Utilisation des API GPT et LLaMA</h2>
                </a>
                <img src="{% static 'Images/API_GPT_et_LLaMA.jpeg' %}" alt="Visualisation pour les API GPT et LLaMA">
                <p>Intégration et utilisation des API GPT et LLaMA pour des applications innovantes.</p>
            </div>
        </div>
    </section>


    <!-- Pour regler la taille des images sur la section mes projets Personnels -->
    <style>
        .project-card img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 15px;
        }
    </style>
    
    <footer>
        <div class="footer-container">
            <!-- Section Politique de Confidentialité et Mentions Légales -->
            <div class="footer-links">
                <a href="#privacy-policy">Politique de Confidentialité</a>
                <a href="#terms-conditions">Conditions Générales d'Utilisation</a>
                <a href="#legal-mentions">Mentions Légales</a>
            </div>
    
            <!-- Section Droits d'Auteur -->
            <div class="copyright">
                <p>&copy; 2024 DataTI. Tous droits réservés.</p>
            </div>
    
            <!-- Section Réseaux Sociaux -->
            <div class="social-media">
                <a href="https://facebook.com" target="_blank"><i class="fab fa-facebook-f"></i></a>
                <a href="https://twitter.com" target="_blank"><i class="fab fa-twitter"></i></a>
                <a href="https://instagram.com" target="_blank"><i class="fab fa-instagram"></i></a>
                <a href="https://linkedin.com" target="_blank"><i class="fab fa-linkedin"></i></a>
            </div>
    
            <!-- Section Informations de Contact 
            <div class="contact-info">
                <p>Email : <a href="mailto:tebattoulrich@gmail.com">tebattoulrich@gmail.com</a></p>
                <p>Téléphone : <a href="tel:+33695078241">+33 6 95 07 82 41</a></p>
            </div>-->
        </div>
    </footer>
    
</body>
</html>
